{%extends "base.html"%}
{%block head%}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/profile_page.css')}}">
{%endblock%}
{%block content%}
	<section class="profile-hero">
		<section class="body-container">
			<form>
				<div class="big-photo-container">
					<a class = "big-photo-change" href="">
						<img class = "big-photo"src="{{ url_for('static', filename='img/megan2.png')}}">
					</a>
				</div>
				<div class="small-photo-container">
					<div>
						<a class ="small-photo-change"href="">
						<img class = "small-photo" src="{{ url_for('static', filename='img/megan2.png')}}">
					</a>
					<a class ="small-photo-change"href="">
						<img class = "small-photo" src="{{ url_for('static', filename='img/megan2.png')}}">
					</a>
					<a class ="small-photo-change"href="">
						<img class = "small-photo" src="{{ url_for('static', filename='img/megan2.png')}}">
					</a>
					<a class ="small-photo-change"href="">
						<img class = "small-photo" src="{{ url_for('static', filename='img/megan2.png')}}">
					</a>
					<a class ="small-photo-change"href="">
						<img class = "small-photo" src="{{ url_for('static', filename='img/megan2.png')}}">
					</a>
					<a class ="small-photo-change"href="">
						<img class = "small-photo" src="{{ url_for('static', filename='img/megan2.png')}}">
					</a>
					</div>
				</div>
			</form>

		</section>
	</section>
	<section class="desc-preferences-container">
		<section class="desc">
			<form>
				<div class="desc-container">
					<h2 class="desc-title">About Me:</h2>
					<p id="styled"class = "desc-body">{{user.about_me}}</p>
				</div>
			</form>
		</section>
		<section class="preferences-container">
			<form>
				<ul>
					<h2 id="preference">Link Peference:</h2>
					<li>
						<fieldset id="group1">
   							 <input type="radio" name="romance">Romance</input>
    						<input type="radio" name="business">Business</input>
    						<input type="radio" name="friendship">Friendship</input>
  						</fieldset>
					</li>
				</ul>
				<ul>
					<li>
						<h2 id="Gender"> Link Gender:</h2>
						<fieldset id="group2">
							<input type="radio" name="choose_male"> Male </input>
							<input type="radio" name="choose_female"> Female</input>
							<input type="radio" name="choose_other"> Other </input>	
						</fieldset>
					</li>
				</ul>
			</form>
			<div class="settings"><a href="{{url_for('edit_profile')}}">Account Settings</a></div>
		</section>
	</section>

{%endblock%}