<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="home_page.css">
	<title>home</title>
</head>
<body>
	<header class = "home_page_header">
		<div class = "top left"><a href="#links"><img src="img/messages.png"></a></div>
		<div class = "top middle"><h2 class="title"><primus>Primus</primus><primetwo>Link</primetwo></h2>
		</div>
		<div class="top-logo-container"><img class = "top_logo"src="img/newlogo.png"></div>
		<div class = "top right"><a href="#profile"><img src="img/profile.png"></a></div>
	</header>
	<div class="themainshow">

		<section class = "home_page_hero">
			<div class = "links">
				<p class = "opposite">Opposite</p>
				<img src="img/megan2.png">
				<p class="desc description3">I'm cool and you should like me</p>
			</div>
			<div  class = "links">
				<p class = "like">Like</p>
				<img src="img/megan2.png">
				<p class="desc description2">I'm cool and you should like me</p>
			</div>
			<div class = "links">
				<p class = "opposite">Opposite</p>
				<img src="img/megan2.png">
				<p class="desc description3">I'm cool and you should like me</p>
			</div>
			<div class = "links">
				<p class = "like">Like</p>
				<img src="img/megan2.png">
				<p class="desc description4">I'm cool and you should like me</p>
			</div>
			<div class = "links">
				<p class = "opposite">Opposite</p>
				<img src="img/megan2.png">
				<p class="desc description5">I'm cool and you should like me</p>
			</div>
			<div class = "links">
				<p class = "like">Like</p>
				<img src="img/megan2.png">
				<p class="desc description6">I'm cool and you should like me</p>
			</div>
			
		</section>
		<section class="messages">
			<div><img src=""><p>talk to one</p></div>		
			<div><img src=""><p>talk to one</p></div>		
			<div><img src=""><p>talk to one</p></div>		
			<div><img src=""><p>talk to one</p></div>		
			<div><img src=""><p>talk to one</p></div>		
			<div><img src=""><p>talk to one</p></div>		
		</section>
	</div>
	<footer class = "home_page_footer">
		<div class = "bottom"><img src="img/newlogo.png"></div>
		
	</footer>



</body>
</html>